<header>
    <div class="navbar navbar-light bg-light box-shadow">
        <div id="nav-container" class="container d-flex">
            <city-selector id="city-weather"></city-selector>

            <a href="/" class="navbar-brand d-flex align-items-center">
                <strong>GO TO
                    <span class="p">P</span>
                    <span class="l">L</span>
                    <span class="a">A</span>
                    <span class="y">Y</span>
                </strong>
            </a>
            </a>
        </div>
    </div>
</header>
<script src="/js/city-selector.js"></script>
<script src="/js/dataVisuals.js" type="module"></script>